.panel {
    -fx-background-color: #dedede;
    -fx-border-color: #bfbfbf;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.bottom-panel {
    -fx-border-style: solid none solid solid;
    -fx-padding: 8px;
}